html{margin-right:0 !important;width:100%;height:auto;min-height:100%;font-size:14px;font-family:'roboto';}
body{width:100%;float:left;font-family:'roboto';background:#f9f9f9;height:auto;min-height:100%;overflow-x:hidden;line-height:initial;}

.nooverflow{overflow:hidden;}
.complete-profile .footer-section,
.complete-profile .header-section .topbar,
.complete-profile .header-section .not-icons,
.complete-profile .header-section .profile-top,
.complete-profile .header-section .search-holder{display:none;}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{background-color:transparent;}

.form-control,.form-control:focus{box-shadow:none;}
/* common custom styles */
.container{width:100%;max-width:1340px;}
/* misc / mix style */
.btext{font-family:'robotomedium';color: #1d2129;}
.anim-side, .anim-side span{transition: all 0.4s ease-in-out 0s;}
.clear{clear:both;}
.bshadow{-webkit-box-shadow: 0 1px 1px 0 #e0e0e0;-moz-box-shadow: 0 1px 1px 0 #e0e0e0;box-shadow: 0 1px 1px 0 #e0e0e0;}
.scontent-column{width:310px;float:left;margin: 0;}
.sub-link{font-size:14px;}
/* page logo loader */

/* ------------------------------------ css for loader ----------------------------------*/
#loader-wrapper{position: fixed;right: 0;left: 0;top: 0;bottom: 0;z-index: 100000;}
#loader{display: block;position: absolute;left: 50%;top: 50%;width: 150px;height: 150px;margin: -75px 0 0 -75px;border-radius: 50%;border: 3px solid transparent;border-top-color: #3498db;-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */z-index: 1001;}
.loader-logo{width:150px; height:150px; position:absolute; left:0px; top:0px; z-index:1112;left: 50%;top: 50%;margin: -75px 0 0 -75px;}
.loader-text{text-align:center;font-size:13px;color:#666;position: absolute;left: 0;right: 0;top: calc( 50% + 50px );z-index: 1002;}
.home-page.loaded .loader-text{display:none;}
#loader:before{content: "";position: absolute;top: 5px;left: 5px;right: 5px;bottom: 5px;border-radius: 50%;border: 3px solid transparent;border-top-color: #e74c3c;-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */}
#loader:after{content: "";position: absolute;top: 15px;left: 15px;right: 15px;bottom: 15px;border-radius: 50%;border: 3px solid transparent;border-top-color: #f9c922;-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */}
#loader-wrapper .loader-section{position: absolute;top: 0;width: 51%;height: 100%;background: #fff;z-index: 1000;-webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */-ms-transform: translateX(0); /* IE 9 */transform: translateX(0); /* Firefox 16+, IE 10+, Opera */}
#loader-wrapper .loader-section.section-left{left: 0;top: 0;bottom: 0;width: 51%;position: absolute;background: #fff;}
#loader-wrapper .loader-section.section-right{right: 0;top: 0;bottom: 0;}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left{-webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */-ms-transform: translateX(-100%); /* IE 9 */transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);}
.loaded #loader-wrapper .loader-section.section-right{-webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */-ms-transform: translateX(100%); /* IE 9 */transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);}
.loaded #loader, .loaded .loader-logo{opacity: 0;-webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.loaded #loader-wrapper{visibility: hidden;-webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */-ms-transform: translateY(-100%); /* IE 9 */transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */-webkit-transition: all 0.3s 1s ease-out; transition: all 0.3s 1s ease-out;}
/* end page logo loader */

.home_loader .loader-section {background: #fff;}
.loader {border: 2px solid #f3f3f3; border-top: 2px solid #3498db; border-radius: 50%; width: 20px; height: 20px; animation: spin 2s linear infinite; position: absolute; top: 44%; transform: translate(-50%,-50%); left: 38%;}

@-webkit-keyframes spin{ 0%{ -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */ -ms-transform: rotate(0deg); /* IE 9 */ transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */} 100%{ -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */ -ms-transform: rotate(360deg); /* IE 9 */ transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */} }
@keyframes spin{ 0% {-webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */-ms-transform: rotate(0deg); /* IE 9 */transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */} 100%{-webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */ -ms-transform: rotate(360deg); /* IE 9 */ transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */} }

.frm-validicon{height: 20px;position: absolute;right: 10px;top: 0;width: 20px;}

.user-to{display:inline-block;margin-left:10px;}
.user-to i{margin-right:10px;}

.shared-box{display: inline-block;padding: 0 15px;position: relative;width:100%;}
.shared-box .post-holder{border: 1px solid #ddd;margin-bottom: 0;box-shadow:none;}

.para-section{width:100%;float:left;position:relative;}
.para-section .para{width:100%;height:75px;overflow:hidden;padding-right:30px;float:left;color:#666;font-family:'roboto-light';}
.para-section .para.opened{height:auto;}
.para-section a{position:absolute;right:0;top:0;}

.tippost-holder .para-section a{position:relative;right:0;top:0;font-size:13px;}

.map-holder{width:100%;float:left;position:relative;height:250px;overflow:hidden;background:#f5f5f5;}
.map-holder iframe{width:100%;height:100%;}

.cover-upload{color: #74ce21;font-size: 26px;left: auto; position: absolute; right: -55px;top: 5px;}
.cover-upload:hover{color:#fff;}

.carousel_master#slider{display:none;}
.nbpad{padding-bottom:0 !important;}

.bodyScroll.nicescroll-rails{z-index:135 !important;}
.popupScroller.nicescroll-rails{z-index:1045 !important;}
/* required for gcontent-loader */
.nicescroll-rails{z-index:120 !important;}

.tooltipster-content{font-size:13px;}
.view-likes:hover{color:#fff;}

.gloader{width:100%;float:left;padding:30px 0;text-align:center;}
.gloader img{display:inline-block;}
.gloader-content {overflow: auto; max-height: 100%}

.fullwidth{width:100%;display:inline-block;}
.text-center{text-align:center;}
.text-left{text-align:left;}

.security-box{margin:40px 0 0;}
.security-box p{color: #e9e9e9;font-size: 15px;margin:0 0 20px;}
.security-box [type="checkbox"].filled-in.agree-chk:not(:checked) + label::after {top: 3px;}
.security-box [type="checkbox"].filled-in:not(:checked) + label::after {top: 0;}

/* percentage page loader */

.pageloader .wrapper{width: 520px;margin: 274px auto;position:relative;z-index:50;text-align:center;}
.pageloader .wrapper .load-bar{width: 100%;height: 30px;border-radius: 10px;background: #dcdbd7;position: relative;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 2px 3px rgba(0, 0, 0, 0.2);}
.pageloader .wrapper .load-bar:hover .load-bar-inner,
.pageloader .wrapper .load-bar:hover #counter{	animation-play-state: paused;}.pageloader .wrapper .load-bar-inner{height: 99%;width: 0%;border-radius: inherit;position: relative;background: #c2d7ac;box-shadow: none;animation: loader 10s linear 1;}
.pageloader .wrapper #counter{position: absolute;background: #eeeff3;background: none;padding: 5px 25px;left: 0;top: 1px;font-size: 13px;font-family:'robotomedium';width: auto;color: #fff;}
.pageloader .wrapper #counter:after{content: "";position: absolute;width: 8px;height: 8px;background: none;transform:rotate(45deg);left: 50%;margin-left: 0px;bottom: 0px;box-shadow:none;border-radius:0;}
.pageloader .wrapper h1{font-size: 28px;padding: 20px 0 0;color:#666;}
.pageloader .wrapper p{font-size: 13px;color:#868686;display:inline-block;}

@keyframes loader{ from{width: 0%;} to{width: 100%;} }
@keyframes counter{ from{left: -25px;} to{left: 323px;} }

.pageloader .loader-section{position: absolute;top: 0;width: 51%;height: 100%;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,cecbc4+100 */background: rgb(249,249,249); /* Old browsers */background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(206,203,196,1) 100%); /* FF3.6-15 */background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(206,203,196,1) 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(206,203,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *//*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#cecbc4',GradientType=0 ); /* IE6-9 */z-index: 30;-webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */-ms-transform: translateX(0); /* IE 9 */transform: translateX(0); /* Firefox 16+, IE 10+, Opera */}
.pageloader .loader-section.section-left{left: 0;top: 0;bottom: 0;width: 51%;position: absolute;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,cecbc4+100 */background: rgb(249,249,249); /* Old browsers */background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(206,203,196,1) 100%); /* FF3.6-15 */background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(206,203,196,1) 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(206,203,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#cecbc4',GradientType=0 ); /* IE6-9 */}
.pageloader .loader-section.section-right{right: 0;top: 0;bottom: 0;}

.divrel{position:relative;}
.divrel:hover .add-photo{color:#303030;}
.hidden_uploader{height: 238px;left: 0;opacity: 0;position: absolute;top: 0;width: 100%;z-index: 9;}
.hidden_uploader:hover{cursor:pointer;}
.no-sword .dropdown-toggle .sword{display:none !important;}
.hold{overflow:hidden;}

.overlayUploader{position: relative;float:left;width:100%;}
.overlayUploader input{position:absolute;width:100%;height:100%;left:0px;top:0px;right:0px;bottom:0px;opacity:0;z-index:99;}
.overlayUploader input:hover{cursor:pointer;}
.overlayUploader input:hover  + a{color: #303030;text-decoration: none;}

.page-post-lazyload img{width:50px;height:50px;}

.request-accept{font-size:13px;color:#131313;}
.showlabel{display:none;}

.deals-holder ul > li{position:relative;width:100%;float:left;padding-right:50px;font-size:13px;margin:0 0 10px;}
.deals-holder ul > li:last-child{margin:0;}
.deals-holder ul > li span{position:absolute;right:0;top:0;color:#b0000e;}

.photo-week{font-size:13px;}
.photo-week img{border:5px solid #fff;-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);margin:0 0 15px;}
.photo-week .by{color:#8d8d8d;display:block;margin:5px 0 0;}
.photo-week .by span{color:#65b751;}

.view-profile ul > li{float:left;width:100%;position:relative;line-height:16px;font-size:12px;padding-left:60px;margin:0 0 15px;}
.view-profile ul > li:last-child{margin:0;}
.view-profile ul > li .viewcount{font-family: "roboto-bold";font-size: 30px;left: 0;position: absolute;top: 0;width: 50px;}
.view-profile ul > li .viewcount span{float:right;line-height:30px;text-align:right;}
.view-profile ul > li .viewcount i{font-size:14px;display:inline-block;}

.form-control{border-radius:0;}
.small-tb{width:50px;}

.tagSpan{border: 1px solid #bdbdbd;border-radius: 3px;color: #949494;font-size: 13px;padding: 3px 10px;}

.gloader-holder{position:relative;min-height:50px;background:url('../images/img-loader.gif') no-repeat center center;width:100%;clear:both;}
.gloader-holder .gloader-content{position:relative;display:inline-block;background:#fff;width:100%;}
.float-chat .gloader-holder .gloader-content{background:#eaeaea;}

span.beenthere, span.wantvisit{display:inline-block;border:1px solid #ecb635;padding:0 5px;font-size:10px;text-transform:uppercase;color:#ecb635;border-radius:2px;line-height:14px;}

.gdetails-summery .nav>li>a:focus,
.gdetails-summery .nav>li>a:hover{background:none;}

.pricing-form{max-width:900px;float:left;}
.pricing-form p.note{display:inline-block;margin-left:10px;font-size:10px;color:#ddd;}

.feedback{display:inline-block;font-size:13px;}
.feedback i{margin-right:5px;}
.feedback.positive{color:#25b61c;}
.feedback.negative{color:#f37020;}

.tcontent-holder.moreinfo-outer .moreinfo-box{left: -15px;right: -15px;top: -10px;}

.lt{font-family:'roboto-light';color:#999;}

.nm-postlist .post-holder .post-topbar, .nm-postlist .post-holder .post-details{padding:0;}
.nm-postlist .post-holder .post-topbar .settings-icon{right:0;}
.nm-postlist .post-holder .post-content{padding:15px 0 0;}
.nm-postlist .post-holder .post-content.hasimg{/* padding-left: 195px; */}
/* .nm-postlist .post-holder.reviewpost-holder .post-img-holder{left: 0;top:15px;} */
.nm-postlist .post-holder .post-actions{padding:9px 0;}

.upload-photo .box-content h5{margin: 0 0 28px;}

.note-tt .sliding-middle-out.underlined.tt-holder textarea{border: 1px solid #f3e89d;border-radius:3px;min-width: 100%;min-height: 70px;transition:0.3s border ease-in;}
.note-tt .sliding-middle-out.underlined.tt-holder:after{display:none;}

.notetext,.notetext a{color:#dfc411;}

.section-layer#trip-bookmark{display:none;}
.section-layer#trip-bookmark.showit{display:block;z-index:5;}

.security-text i{margin-right:10px;}
.side-user-cover{display:none;}
/*commone css*/
.gotohome{display:none;margin-top:0;}

/*album and photos in wall page*/
#gallery-content .post-actions{text-align:left;}
#gallery-content .post-actions a i{line-height: unset;}

/*new post*/
.gotohome a img{color: #fff;float: left;font-size: 24px;margin-left: 15px;margin-right: 0;width: 25px;}
.post-location{border-bottom: 1px dotted #ccc; border-top:none;}

/*share edit*/

.custom-map{width:280px;height:240px; float:left; margin-left:20px; margin-bottom:10px;}
.custom-map iframe{height:100%;}

#saved-content .wall-subcontent{width: 678px;}
#saved-content .scontent-column{margin-right:0px;}
#saved-content .saved-post li .descholder p{margin: 6px 0;}
#saved-content .saved-post li .descholder h6{font-weight: bold;}

.group-name-editor{display:none;}
.edit-group-name{font-size:13px; margin-left:8px;}
.group-name-input{font-size:13px; line-height:15px;}
.group-status{color: #777777;display: inline-block;font-size: 12px;left: 10px;position: relative;top: -3px;}

.reviews-content .wallcontent-column{margin: 0;float:right;}

.nbg{background:none !important;}

.pagetabs{position:absolute;right:15px;top:15px;}
.pagetabs ul.nav-tabs{text-align:center;}
.pagetabs ul.nav-tabs > li a{font-size:13px;}

.sub-page .mob-title{display:none;color:#666;padding:10px 15px;clear:both;}
/*  read more in comments */
.white-wrapper{background:#fff;}
.hide-addflow .new-post-mobile{display:none !important;}

.info-row{width:100%;float:left;position:relative;font-size:13px;margin:0 0 10px;}
.info-row .icon-holder{width:20px;position:absolute;left:0;top:0;color:#a0a0a0;}
.info-row .desc-holder{padding-left:20px;position:relative;color:#666;font-family:"roboto-light";}
.info-row .desc-holder .darktext{color:#303030;font-family:"robotomedium";}

.edit-ele{width:100%;float:left;width:100%;margin:5px 0 0;}
.edit-ele input[type='text'],
.edit-ele textarea{border: 1px solid #ddd;height: 30px;margin: 0 0 5px;padding: 2px 8px;resize: none;width: 100%;}

.cbox-title.nborder{border-bottom:0 !important;height:40px;}
.cbox-title h5{font-size: 14px;}

.fake-header{height:50px;width:100%;float:left;display:none;position:absolute;top:0;}
.fake-header .gotohome{margin:0 15px;float: left;margin: 12px 0 0;display:block;}
.fake-header .page-name{line-height:48px;}

.orange-text{color:#f39c18;}

.fullpopup .post-pages .post-btns a.disabled{opacity:0.5;cursor:not-allowed;}
.fullpopup .post-more{border:none;}

.post-pages{display:inline-block;width:100%;position:relative;float:left;}
.post-pages .side-user {display: block;padding: 0;}
.post-pages .main-pcontent{display:inline-block;width:100%;position:relative;float:left;}
.post-pages .new-post{display:inline-block;width:100%;padding-bottom:55px;position:relative;}


.divrel .hidden_uploader{bottom:0;}

.requestsent{color:#64c121;font-size:13px;}

.hostinfo-link{position:absolute;right:15px;top:-30px;font-size: 13px;color: #666 !important;display:none;}
.hostinfo-link i{color: #bbb !important;margin-right: 10px;}

span.btn-gray:hover{color:#939393 !important}

/* HEADER SECTION -------------------------------------------------- */

.desk-logo:hover{opacity:0.7;}
.desk-logo:focus{margin-top: -10px;-webkit-transition: all 1s ease 0s;-moz-transition: all 1s ease 0s;-o-transition: all 1s ease 0s;transition: all 1s ease 0s;}
.mbl-logo.page-name, .mbl-logo.page-name:hover{color:#575757;}

.header-section{width:100%;float:left;position:fixed;top:0;z-index:150;transition:0.5s all ease-in;z-index:135;padding: 0;box-shadow: 0 0 3px rgba(0,0,0,.3);}
.header-section.fixed-header{position:fixed;top:0;left:0;right:0;}
.header-section .topbar{height:26px;line-height:26px;background:#fff;padding:0;float:left;width:100%;border-bottom:1px solid rgba(255,255,255,0.4);}

.hideHeader .header-section{display:none;}

.header-section .search-holder{float: right;position: relative;width: 502px;margin: -6px 100px 0 0px;}

.header-section .logout{float: right;}
.header-section .logout, .account_btn {margin:0 0px 0 20px; width:30px; height:30px; line-height:36px; display:inline-block; text-align:center;}
.header-section .more-links{margin:0 20px 0 0px;}
.header-section .profile-top{margin:13px 0 0;}
.header-section .header-themebar{padding-top:0;background: #fff;}
.header-section .header-themebar .mbl-innerhead{display: none;height: 60px;left: 0;padding: 12px 0 0;position: absolute;right: 0;top: 0;}
.header-section .header-themebar .mbl-innerhead .logo-holder{width:200px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.header-themebar{height:60px;width:100%;float:left;padding-right:0;}
.header-themebar .logo-holder{float:left;margin:15px 0 0 0;}
.header-themebar .logo-holder .desk-logo{margin-top: -4px;}

.header-themebar .dropdown-menu{top:42px;}
.header-themebar .dropdown.dropdown-custom.open .dropdown-menu{right:-12px;}
.header-themebar .profile-top .dropdown.dropdown-custom.open .dropdown-menu{min-width: 210px;}
.header-themebar .profile-top .dropdown.dropdown-custom .dropdown-menu > li a {padding: 0 20px;}
.header-themebar .dropdown.dropdown-custom.open.more-links .dropdown-menu {right: -9px;min-width:180px;}

.header-themebar .dropdown .dropdown-menu{margin:0;}
.header-themebar .not-friends .dropdown.dropdown-custom.open .dropdown-menu{right:-137px;}
.header-themebar .not-friends .dropdown.dropdown-custom.open .dropdown-menu::after{right:138px;}
.header-themebar .not-messages .dropdown.dropdown-custom.open .dropdown-menu{right:-75px;}
.header-themebar .not-messages .dropdown.dropdown-custom.open .dropdown-menu::after{right:76px;}
.header-themebar .not-notification .dropdown.dropdown-custom.open .dropdown-menu{right:-13px;}

.header-themebar .header-nav{float:left; width:100%;height:60px;}
.messages-wrapper.bigscreen .header-themebar .header-nav{width: 100%; padding: 0 25px;}
.not-messages {width: 19px;}

.mbl-logo{margin:3px 0 0;}
.page-name{color:##575757;line-height:52px;margin-left:15px;float:left;display:none;text-transform: capitalize;}

/* SEARCH SECTION -------------------------------------------------- */

.search-holder{float: right;position: relative;width: 400px;margin-right:15px;margin:11px 110px 0 0;}
.search-holder.opened, .search-holder.keepopen{z-index:3;}
.search-holder .search-btn {line-height:36px;}
.search-holder form {margin-top: 4px;}
.search-holder {margin: 0;}

.keepopen .search-section{width:100% !important;}
.keepopen .search-input{width: 100% !important;display: block !important;background-color: rgb(255, 255, 255) !important;}
.search-holder.keepopen .search-btn{color: #666;}

.search-section{float: right;height: 28px;margin-right: 20px;max-width: 380px;min-width: 28px;position:relative;transition: width 0.3s ease 0s;margin-top: 8px;}

.search-input{max-width: calc(100% - 0px);background: none;border: medium none;border-radius: 4px;color: #999;float: right;font-family: inherit;font-size: 13px;height: 28px;margin: 0;outline: medium none;padding: 0 38px 0 5px;transition:width 0.3s ease 0s;width: 0;z-index: 10;}
.search-btn, .search-submit{cursor: pointer;display: block;height: 28px;line-height: 60px;margin: 0;padding: 0;position:absolute;right: 0;text-align: center;top: 0;width: 28px;}
.search-btn{color: #ccc;font-style: normal;font-variant: normal;font-weight: normal;line-height: 24px;text-transform: none;z-index: 90;font-size:18px;right:10px;}
.search-btn {right: -14px; top: 0; height: 34px;}
.search-submit{background: #fff none repeat scroll 0 0;border: medium none;color: transparent;opacity: 0;outline: medium none;z-index: -1;}
.search-submit, .search-input {height: 20px; margin: 0 -22px; padding: 7px 32px 7px 7px;}
.search-section .search-btn{color: #575757;margin-top: 2px;position: absolute;right: 5px;z-index: 11;}
.search-section .search-btn i{font-weight: bold;font-size: 20px;}
.search-section .search-btn:hover{color: #575757;}
.opened .search-section .search-btn:hover {color:#666;}
.search-section.opened .search-btn{color: #666;}
.search-section {margin-top: 10px; margin-right: 0; max-width: 100%;}

input[type="text"]:not(.browser-default).search-input {border-bottom: 0;border:none;line-height:32px;padding:0 40px 0px 10px;}

.sresult-list{max-height:306px;overflow:auto;}
.search-result{width:100%;float:left;background:#fff;display:none;-webkit-box-shadow: 0px 2px 5px 0px rgba(204,204,204,1);-moz-box-shadow: 0px 2px 5px 0px rgba(204,204,204,1);box-shadow: 0px 2px 5px 0px rgba(204,204,204,1);border-bottom-left-radius:3px;border-bottom-right-radius:3px;overflow-x:hidden;overflow-y:auto;top:38px;position:absolute;display:none;padding-bottom:30px;z-index:20;}
.search-result.nopad{padding-bottom:0;}
.search-result ul{width:100%;float:left;}
.search-result ul > li{width:100%;float:left;padding:5px 10px;border-bottom:1px solid #ddd;}
.search-result ul > li:last-child{border-bottom:none}
.search-result ul > li a{width:100%;float:left;cursor:pointer;}
.search-result .more-sresult{position:absolute;border-top:1px solid #ddd;padding:0 15px;left:0;right:0;bottom:0;background:#fff;font-size:13px;line-height:30px;}
.search-result .more-sresult i{display: inline-block;float: right;font-size: 10px;line-height: 30px;margin-left: 5px;}

#transfercreditsUI li {line-height: 30px;}
#transfercreditsUI li .img-holder{height: 30px; width: 30px;}
#transfercreditsUI li .desc-holder p{color: black; font-weight: bold;}

.search-result a.search-link .display-box{width:100%;position:relative;float:left;}
.search-result a.search-link .display-box .img-holder{width:40px;height:40px;position:absolute;left:0;top:0;}
.search-result a.search-link .display-box .img-holder img{width:100%;border-radius:50%;}
.search-result a.search-link .display-box .desc-holder{padding-left:50px;position:relative;display:inline-block;width:100%;text-align:left;}
.search-result a.search-link .display-box .desc-holder p{margin:0;}
.search-result a.search-link .display-box .desc-holder span{font-size:12px;color:#999;}

.credit-details .find-friend .search-result{width:300px;top: unset;z-index:100;padding-bottom: 0;bottom: 65px;}
.credit-details .find-friend .search-input-friends{width:300px;}

.closable-search.fsearch-form{float: left;margin-right: 21px;position: relative;}
.closable-search.fsearch-form input[type="text"]{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #e4e4e4;color: #9f9f9f;font-size: 12px;line-height: 24px;padding: 0 25px 0 5px;width: 15px;transition: width 1s; float:right; margin-left:20px;}
.closable-search.fsearch-form.open input[type="text"]{width:155px;transition: width 1s;padding-left:5px;}
.closable-search.fsearch-form a{position: absolute;right: 10;border-left: 1px solid #e4e4e4;padding: 0 0 0 8px;color:#9f9f9f;line-height: 24px;z-index: 2;background: #f9f9f9;top: 2px;}
 
/* NOTIFICATION ICONS -------------------------------------------------- */

.not-icons {float: right; margin: 16px 80px 0 0;}
.not-icons .noticon{display:inline-block;margin:0 40px 0 0;position:relative;}
.not-icons .noticon:last-child{margin: 0 !important;}
.not-icons a:hover img{opacity:0.7;}
.not-icons a:last-child{margin: 0;}
.not-icons .badge{position:absolute;top:-8px;right:-9px;width:18px;height:18px;line-height:18px;background:#185a7b;font-size:10px;font-family:'roboto';padding:0;font-weight:normal;}
.not-icons .btn-gray{font-size:11px;} 
.not-icons .noticon .more_btn {color: #575757; font-size: 22px;}

.not-icons .dropdown-menu{min-width:400px;}
.not-icons .dropdown-menu .not-area{width:100%;padding-bottom:30px;}
.not-icons .dropdown-menu .not-area.nopad{padding-bottom:0;}
.not-icons .dropdown-menu .not-title{font-size:14px;font-family:'robotomedium';padding:4px 10px;border-bottom:1px solid #ddd;width:100%;display:inline-block;color:#666;font-size:13px;float:left;}
.not-icons .dropdown-menu .not-title .nav-tabs{float:left;}
.not-icons .dropdown-menu .not-title .nav-tabs > li{margin:0;margin-right:10px;}
.not-icons .dropdown-menu .not-title .nav-tabs > li:last-child{margin-right:0;}
.not-icons .dropdown-menu .not-title .nav-tabs li a{padding:0;line-height:18px;font-size:12px;}
.not-icons .dropdown-menu .not-title .right a{padding:0;margin-right:10px;font-family:'roboto-light';line-height:18px;}
.not-icons .dropdown-menu .not-title .right a:last-child{margin-right:0;}
.not-icons .dropdown-content li:hover{background-color: unset;}
.not-icons .noti-listing li:hover{background-color: #f5f5f5;}

.not-result{background: #fff none repeat scroll 0 0;bottom: 0;left: 0;position: absolute;right: 0;z-index: 99999; border-top: 1px solid #e0dcdc;}
.not-result a {padding: 0 15px; line-height: 30px; font-size: 13px; float: left; width: 100%;}
.not-resultlist{max-height:366px;overflow:auto;float:left;width:100%;}
.not-resultlist .tab-content{margin:0;}

.no-listcontent{width:100%;display:inline-block;padding:20px 0;text-align:center;background:#f5f5f5;color:#999;font-size:14px;}
.not-title {font-size: 14px; font-family: 'robotomedium'; padding: 4px 10px; border-bottom: 1px solid #ddd; width: 100%; display: inline-block; color: #666; font-size: 13px; float: left;}
.not-icons .not-messages .dropdown-menu .not-title{width: 50%;}
.not-messages .no-listcontent{padding: 0;}
.not-messages .no-listcontent .not-result a{padding: 0 10px;}
.not-messages .no-listcontent .msg-listing{margin-bottom: 35px;}

.fr-list{width:100%;position:relative;float:left;}
.fr-listing{clear:both;}
.fr-listing > li{padding:10px;border-bottom:1px solid #ddd;}
.fr-listing > li:hover{background:#f5f5f5;}
.fr-listing > li:last-child{border:none;}
.fr-listing .fr-holder{position:relative;width:100%;}
.fr-listing .fr-holder a{padding:0;line-height:initial !important;}
.fr-listing .fr-holder .img-holder{position:absolute;width:40px;height:40px;overflow:hidden;z-index:2;}
.fr-listing .fr-holder .img-holder a{width:40px;height:40px;overflow:hidden;line-height:40px;}
.fr-listing .fr-holder .img-holder img{width:100%;border-radius:50%;}
.fr-listing .fr-holder .desc-holder{position:relative;padding-left:60px;min-height:50px;display:inline-block;width:100%;}
.fr-listing .fr-holder .desc-holder .desc{width:140px;display:inline-block;line-height:40px;}
.fr-listing .fr-holder .desc-holder .fr-btn-holder{width:180px;float:right;padding:7px 0 0;text-align:right;}
.fr-list .fr-btn-holder .btn:last-child:hover{color:#fff;}

.noti-list{width:100%;position:relative;float:left;}
.noti-listing > li{padding:10px 0 10px 10px;border-bottom:1px solid #ddd;width:100%;float:left;}
.noti-listing > li:hover{background:#f5f5f5;}
.noti-listing .noti-holder{position:relative;width:100%;float:left;}
.noti-listing .noti-holder a{padding:0;width:100%;display:inline-block;position:relative;line-height:20px;}
.noti-listing .noti-holder .img-holder{position:absolute;width:48px;height:48px;overflow:hidden;z-index:2;left:0;}
.noti-listing .noti-holder .img-holder a{width:40px;height:40px;overflow:hidden;line-height:40px;}
.noti-listing .noti-holder .img-holder img{width:100%;border-radius:50%;}
.noti-listing .noti-holder .desc-holder{position:relative;padding-left:60px;min-height:32px;display:inline-block;width:100%;float:left;padding-right:30px;}
.noti-listing .noti-holder .desc-holder .desc{float:left;width:100%;line-height:20px;color:#666;}
.noti-listing .noti-holder .desc-holder .btn-holder{float:right;margin:5px 0 0;}
.noti-listing .noti-holder .desc-holder .time-stamp{display:block;font-size:11px;line-height:20px;color:#90949c;float:left;margin-left: 7px;}
.noti-listing .noti-holder .desc-holder .notif-icon{float: left;margin-top: 3px;}
.noti-listing .noti-holder .desc-holder .notif-icon i{color: #fff;}
.noti-listing li:hover{background-color: #f5f5f5;}

.noti-holder .dropdown{position: absolute;right: 10px;top: 0;}
.noti-holder .dropdown .dropdown-menu > li a{padding:5px 10px;}
.noti-holder .dropdown .dropdown-toggle{color:#999;}
.noti-holder .dropdown .dropdown-toggle:hover{color:#333;}

.msg-list{width:100%;position:relative;float:left;}
.msg-listing > li.mainli{padding:5px 10px;border-bottom:1px solid #ddd;background:#fff;min-height: 60px;}
.msg-listing > li.mainli.read{background:#fff;}
.msg-listing > li:hover{background:#f5f5f5;}
.msg-listing .msg-holder{position:relative;width:100%;}
.msg-listing .msg-holder a{padding:0;width:100%;height: 50px;position:relative;line-height:20px !important;float:left;}
.msg-listing .msg-holder .readicon{position:absolute;right:0;top:20px;width:auto;}
.msg-listing .msg-holder .img-holder{position:absolute;width:48px;height:48px;overflow:hidden;z-index:2;top:2px;}
.msg-listing .msg-holder .img-holder a{width:50px;height:50px;overflow:hidden;line-height:40px;}
.msg-listing .msg-holder .img-holder  img{width:100%;border-radius:50%;}
.msg-listing .msg-holder .desc-holder{position:relative;padding-left:60px;min-height:50px;display:inline-block;width:100%;}
.msg-listing .msg-holder .desc-holder .desc{float:left;width:100%;color:#999;line-height:16px;display:inline-block;width:100%;float:left;font-size:12px;font-family:'roboto-light';word-wrap:break-word;max-width:238px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.msg-listing .msg-holder .desc-holder .btext{line-height:18px;display:inline-block;width:100%;float:left;}
.msg-listing .msg-holder .desc-holder .time-stamp{display:block;font-size:10px;line-height:20px;color:#999;float:right;width:100%;line-height:14px;font-family:'roboto-light';right: 0;top: 2px;position: absolute;text-align: right;}

.msg-listing .msg-holder .chat-img-wrapper{height:50px; width:70px;position: absolute;right: 20px;top: 0px; padding: 2px;border: 1px solid #ccc;}
.msg-listing .msg-holder .chat-img-wrapper .imgholder{width:100%;height:100%;overflow:hidden;}
.msg-listing .msg-holder .chat-img-wrapper .chat-img,
.msg-listing .msg-holder .chat-img-wrapper .chat-img.himg{height: 100%;width:auto;max-width:none;}
.msg-listing .msg-holder .chat-img-wrapper .chat-img.vimg{width: 100%;height:auto;max-width:none;}
.not-messages .dropdown-custom .dropdown-menu .msg-listing li a {padding: 0;}
.not-messages .dropdown-custom .dropdown-menu .msg-listing li:hover{background-color: #f5f5f5 !important;}
.not-messages .dropdown-custom .dropdown-menu .msg-listing li.norecord h5{line-height: 49px;margin:auto;}
.not-messages .dropdown-custom .dropdown-menu .msg-listing li.norecord{padding:5px 10px;border-bottom:1px solid #ddd;min-height: 60px;}
.not-messages .msg-listing .uname{display: block;}

/* HEADER THINGS -------------------------------------------------- */

.header_add_btn{position:relative; right:unset; bottom:unset; padding-top: 15px; margin-bottom:unset; z-index:997; display:inline-block; vertical-align:top; padding:0;/* margin-top: 4px;*/}
.header_add_btn ul {right: 31px; top: 57%; width: 500px; height: 45px;}
.header_add_btn ul li{margin:0 15px 0 0;}

body a.account_btn {color: #575757; margin-right: -17px; /*margin-top: 4px;*/border-radius: 50%; width: 35px;height: 35px;line-height: 35px}
.header_right_icon{display:inline-block; margin:0 9px; width:30px; height: 30px; text-align:center; margin-top:-2px;}
.header_right_icon i{line-height:30px; font-size:22px; color:#666666;}
.header_right_icon:hover{cursor: pointer;}
.header_right_icon.settings-icon{right:3px;}	

.profile-top{float:right;margin:11px 0 0 ;}
.profile-top .profile-info img{width:34px;border:1px solid rgba(255,255,255,0.35);margin-right:10px;border-radius:50%;}
.profile-top .profile-info{color:#575757;font-size:14px;font-family:'robotomedium';margin: 1px 20px 0 0; min-width: 10px;vertical-align: top;display:inline-block;}
.profile-top .profile-info:hover span,
.profile-top  a.dropdown-toggle:hover,

.profile-top .dropdown{display:inline-block;}
.profile-top .top-menuicon .dropdown-toggle img{display:inline-block;}
.profile-top .top-menuicon .dropdown-toggle i{color:#575757;font-size:20px;vertical-align:sub;}
.profile-top .profile-info {margin: 0 20px 0 0; min-width: 10px; vertical-align: top;}


.logout{float:right;margin:15px 0 0 44px ;}
.logout a:hover{opacity:0.7;}

.mobile-menu{float:left;display:none;}

.mobile-menu a:hover{color:#a4a4a4;}
.mobile-menu i{color:#575757;font-size: 22px;}

/* FLOATING STUFF -------------------------------------------------- */

.float-icon .icon-holder{display: inline-block;float: left;height: 100%;line-height: 28px;text-align: center;width: 100%;}
.float-icon .icon-holder.ispan{line-height:28px;}
.float-icon.scrollup-button .icon-holder.ispan i{font-size:18px;color:#333;vertical-align:sub;}
.float-icon.scrollup-button .icon-holder.ispan:hover i{color:#999;}
.float-icon.newpost-button .icon-holder.ispan i{font-size:18px;color:#6ec91e;vertical-align:sub;}
.float-icon.newpost-button .icon-holder.ispan:hover i{color:#333;}

.floating-icon{display:inline-block;float:right;position:relative;z-index:14;z-index:135;}

.btnbox{position:fixed;z-index:11;outline:none;top:92px;right:-90px;}
.btnbox.box-open{right:0px !important;z-index:62;}
.btnbox .float-icon{position:absolute;width:30px;height:30px;border-radius:50%;background-color:rgba(255,255,255,1);display:block;padding:0;left:-50px;cursor:pointer;-webkit-box-shadow: 0px 2px 5px 0px rgba(140, 140, 140, 0.45);-moz-box-shadow: 0px 2px 5px 0px rgba(140, 140, 140, 0.45);box-shadow: 0px 2px 5px 0px rgba(140, 140, 140, 0.45);text-align:center;}
.btnbox .btnbox-drawer{background:#fff;display:block; -webkit-box-shadow:0 2px 5px 0 rgba(110, 110, 110, 0.4);-moz-box-shadow: 0px 2px 5px 0px rgba(110, 110, 110, 0.4);box-shadow: 0px 2px 5px 0px rgba(110, 110, 110, 0.4);float:left;}
.btnbox .btnbox-drawer.theme-drawer{width:90px;padding:4px 2px 4px 4px;}

.btnbox.scrollup-btnbox{top:auto;bottom: 50px;right: 12px;}
.btnbox.newpost-btnbox{top:96px;right:0;}

/* SIDE MENU -------------------------------------------------- */
   
.sidemenu-holder{position:fixed;width:240px;top:60px;bottom:0;overflow:visible;transition: all 0.3s ease 0s;z-index:1;background:#f9f9f9;padding:25px 0 25px;}/* z-index to settle scrollbar */
.sidemenu-holder.open{width:240px;}
.sidemenu-holder.m-hide{top:80px;left:-240px;}
.sidemenu-holder.m-hide.m-open{left:0;}
.sidemenu-holder.tab-hide{left:-240px;}     
.sidemenu-holder.tab-hide.tab-open{width:250px;left:0;background:#fff;box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);}
.sidemenu-holder .mobile-menu{position:fixed;top:52px;left:0;width:65px;background:#fff;padding:10px 0;text-align:center;margin:0;display:none;}
.sidemenu-holder .closemenu img{position: relative;z-index: 2;left: 5px; top: 3px;}
.sidemenu-holder .closemenu i{position: relative;z-index: 2;left: 3px; top: 5px;}
.sidemenu-holder .closemenu::after{content:"";width:30px;height:30px;position:absolute;left: -10px;top:-2px;background: rgba(255, 255, 255, 0.4);border-radius:50%;}
.sidemenu-holder .closemenu::after{left: -5px;background: rgba(219, 219, 219, 0.4);}
.sidemenu-holder .closemenu:hover::after{background:rgba(219, 219, 219, 0.4);}
.sidemenu-holder .closemenu .zmdi{font-size:20px;position:relative;z-index:2;}
.sidemenu-holder .sidemenu-ul ul > li a,
.sidemenu-holder .side-user .desc-holder{display:block;}
.sidemenu-holder:hover .sidemenu-ul ul > li a,
.sidemenu-holder.open .sidemenu-ul ul > li a,
.sidemenu-holder.m-hide.m-open .sidemenu-ul ul > li a,
.sidemenu-holder:hover .side-user .desc-holder,
.sidemenu-holder.open .side-user .desc-holder,
.sidemenu-holder.m-hide.m-open .side-user .desc-holder,
.sidemenu-holder.tab-hide .sidemenu-ul ul > li a,
.sidemenu-holder.tab-hide .side-user .desc-holder{display:block;}
.sidemenu-holder .sidemenu .side-user{padding-left:0px;}
.sidemenu-holder .sidemenu .sidemenu-ul ul > li{padding-left:12px;border-left: 4px solid rgba(0,0,0,0);margin:0 0 11px;}
.sidemenu-holder .sidemenu .sidemenu-ul ul.large-menuicons > li{padding-left:0;border-left:none;}
.sidemenu-holder .sidemenu .sidemenu-ul ul > li span{left:0;}
.sidemenu-holder .closemenu {right: 24px; top: 10px; width: 10px; z-index: 99999; font-size: 14px; color: unset; opacity: 1; transition: 0.3s all ease-in; position:absolute;}

.sidemenu{position:relative;width:100%;overflow:hidden;padding:0;left:0;top:0;bottom:0;max-height:100%;}
.sidemenu.nice-scroll .closemenu{display:none;}

.side-user{width:100%;padding:0 12px;position:relative;float:left;text-align:left;}
.side-user .img-holder{width:40px;height:40px;overflow:hidden;position:relative;float:left;}
.side-user .img-holder img{width:100%;border-radius:50%;}
.side-user .desc-holder{position:relative;margin-left:12px;float:left;line-height:40px;font-size: 14px;color: #45494b; display:block;}
.side-user .desc-holder a{color:#666;}
.side-user .desc-holder a:hover{color:#131313;}
.side-user .desc-holder label{font-size:13px;}
.side-user.setting-mobile{display:none;}

.sidemenu-ul ul.large-menuicons{margin:0;}
.sidemenu-ul{float:left;width:100%;margin:50px 0 0;text-align:left;overflow:auto;}
.sidemenu-ul ul{float:left;width:100%;padding-right:10px;}
.sidemenu-ul ul > li{float:left;width:100%;padding:0 0 0 65px;display:inline-block;height: auto;position:relative;}
.sidemenu-ul ul > li a{font-size:15px;line-height:30px;color: #1f1f21;}
.sidemenu-ul ul > li:hover a{color: #45494b;}

.sidemenu-ul ul > li  span{color:rgba(0,0,0,0);width:26px;height:26px;float:left;position:absolute;top:0;left:18px;}
.sidemenu-ul ul > li.lm-home span{background-position:0 0;}
.sidemenu-ul ul > li.lm-pages span{background-position:0 -26px;}
.sidemenu-ul ul > li.lm-collections span{background-position:0 -52px;}
.sidemenu-ul ul > li.lm-commeve span{background-position:0 -78px;}
.sidemenu-ul ul > li.lm-waround span{background-position:0 -104px}
.sidemenu-ul ul > li.lm-tbuddy span{background-position:0 -130px;}
.sidemenu-ul ul > li.lm-lbuddy span{background-position:0 -156px;}
.sidemenu-ul ul > li.lm-texp span{background-position:0 -208px;}
.sidemenu-ul ul > li.lm-tstore span{background-position:0 -234px;}
.sidemenu-ul ul > li.lm-groups span{background-position:0 -260px;}

.sidemenu-ul ul > li.lm-divider{height:6px;background:none;}

.sidemenu-ul ul > li.active, .sidemenu-ul ul > li:hover{background:#f3f3f3; opacity:1;}
.sidemenu-ul ul > li span{width:20px;height:20px;background-size:43px;top:5px;}

/* FOOTER SECTION -------------------------------------------------- */

.footer-section{width:100%;float:left;position:absolute;z-index:99;bottom:0;}
.mobile-footer{display:none;float:left;width:100%;height:60px;border-top:1px solid #d9d9d9;position:fixed;bottom:0;padding:6px 0;background:#fff;font-size:16px;text-align:center;}
.mobile-footer a.dropdown-toggle{color:#b4b4b4;}
.mobile-footer a.dropdown-toggle:hover{color:#333;}
.mobile-footer .dropdown.dropdown-custom.open .dropdown-menu{bottom: 55px;left: auto;right: auto;top: auto;-webkit-box-shado:0 -4px 12px rgba(0, 0, 0, 0.176);-moz-box-shadow:0 -4px 12px rgba(0, 0, 0, 0.176);box-shadow:0 -4px 12px rgba(0, 0, 0, 0.176);}
.mobile-footer .mmenu.dropdown.dropdown-custom.open .dropdown-menu{left:-15px;}
.mobile-footer .lmenu{float:left;}
.mobile-footer .mmenu{display:inline-block;margin:0;font-size:13px;top:0;width:23%;}
.mobile-footer .lmenu.dropdown.dropdown-custom.open .dropdown-menu{left:0;}

.main-footer{background:#dfdfdf;width:100%;float:left;position:relative;padding:10px 0;border-top:1px solid #acacac;}

.main-footer li{display:inline-block;border-right:1px solid #acacac;}
.main-footer li:last-child{border-right:none;}

.main-footer li a{color:#777;padding:0 15px;}
.main-footer li a:hover{color:#444;}

.mobile-footer-arrow{position:fixed;bottom:0px;width:100%;text-align:center;transition:all 1s;display:none;}
.mobile-footer-arrow > a{background: #fff none repeat scroll 0 0;border: 1px solid #ddd;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom:none;display: inline-block;padding: 5px 0;transition: all 1s ease 0s;width: 50px;}
.mobile-footer-arrow .mobile-footer{transition:all 1s;bottom: 0;background:#333; border:none;}
.mobile-footer-arrow.open > a i{transform:rotate(180deg);transition:all 1s;vertical-align:sub;}
.mobile-footer-arrow.open{	bottom:36px;transition:all 1s;}
.mobile-footer-arrow.open .mobile-footer{bottom:0px;transition:all 1s;}

.mobile-footer a img{display:block; width:32px;opacity:0.6;margin: 0 auto;}
.mobile-footer a{font-size:16px;color:#fff; opacity:0.5;line-height: 15px;}
.mobile-footer a.dropdown-toggle:hover, 
.mobile-footer a.dropdown-toggle:hover img{color: #fff;opacity:1;}
.mobile-footer .mmenu.dropdown.dropdown-custom.open .dropdown-menu.large-menuicons{width: 300px;padding: 10px 0;left: -75px;}
.mobile-footer .mmenu.dropdown.dropdown-custom.open .dropdown-menu.large-menuicons.right-box{right: 0;left: auto;width: 220px;padding:10px 0;}

/* CUSTOM ELEMENTS -------------------------------------------------- */

/* custom tabs */

.nav-tabs{border:none;}
.nav-tabs > li{display:inline-block;margin-left:15px;}
.nav-tabs > li a:focus{background:none;}
.nav-tabs li a{color:#909090;font-size:13px;padding:0;border:none;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{border:none;}
.nav-tabs li a i{margin-right:10px;}
.nav-tabs li a:focus,
.nav-tabs li a:active,
.nav-tabs li a:hover,
.nav-tabs li.active a{color:#5a5a5a;background:none;background-color: transparent !important;border:none;}
.tab-content{margin:5px 0 0;display:inline-block;width:100%;}
.payment-popup .tab-content{margin:0;}
.tab-content > .tab-pane{width:100%;float:left;}
.tab-content.main-tab-content{max-width:1095px;width: 100%;}

.nav-tabs.nav-custom-tabs.text-right{text-align:right;}
.nav-tabs.nav-custom-tabs>li{float:none;}

.bordered-tab{float:left;width:100%;background:#fff;}
.bordered-tab .tabs{border:1px solid #ddd;float:left;width:100%;}
.bordered-tab .tabs > li.tab{width:33.33%;float:left;margin:0;text-align:center;border-right:1px solid #ddd;padding:0px 0;}
.bordered-tab .tabs > li.tab a{color:#999; padding:0px;}
.bordered-tab .tabs > li.tab a.active{color:#313131;}
.bordered-tab .tabs > li a:focus,
.bordered-tab .tabs > li a:hover{background:none;}
.bordered-tab .tabs > li:hover,
.bordered-tab .tabs > li a.active{background:#f9f9f9;}
.bordered-tab .tabs > li:last-child{border-right:none;}
.bordered-tab .tab-content{margin:0;border:1px solid #ddd;border-top:none;padding:30px 15px;text-align:center;float:left;}
.bordered-tab .tab-content p{text-align:center;}
.bordered-tab .tab-content h5{font-size:22px;font-family:'robotomedium';margin:0;}

.dropdown-custom .dropdown-menu{border-radius:3px;padding:5px 0;}
.dropdown-custom .dropdown-menu > li{border-bottom:none;margin-left:0;}
.dropdown-custom .dropdown-menu > li.dropdown-header{padding:0;}
.dropdown-custom .dropdown-menu > li:first-child{border-top-left-radius:3px;border-top-right-radius:4px;overflow:hidden;}
.dropdown-custom .dropdown-menu > li:last-child{border-bottom-left-radius:3px;border-bottom-right-radius:4px;}
.dropdown-custom .dropdown-menu > li:last-child{border-bottom:none;}
.dropdown-custom .dropdown-menu > li a{padding:0 15px;line-height:40px;color:#444;font-size:14px;float:left;}
.dropdown-custom .dropdown-menu > li.active a{color:#fff;}
.dropdown-custom .dropdown-menu > li a:hover{color:#131313;background-color:#f5f5f5 !important;}
.dropdown-custom .dropdown-menu > li a span.glyphicon{margin-right:15px;line-height:30px;}

.dropdown-custom .dropdown-menu > li.active a:hover{background-color: #131313 !important;}
.dropdown-custom .dropdown-menu > li .post-licon-list{padding:10px 0;}
.dropdown-custom .dropdown-menu > li .post-licon-list > li{padding:0;}
.dropdown-custom .dropdown-menu > li .post-licon-list > li a{padding:5px 20px;position:relative;display:inline-block;width:100%;font-size:14px;font-family:'robotomedium';line-height:20px;color:#666;}
.dropdown-custom .dropdown-menu > li .post-licon-list > li a span{font-size:10px;font-family:'roboto';display:block;line-height:14px;color:#aaa;}
.dropdown-custom .dropdown-menu > li .post-licon-list > li .glyphicon{position:absolute;left:0;top:0;font-size:15px;font-family:"Glyphicons Halflings";line-height:20px;color:#666;}

.dropdown-custom .dropdown-menu > li .post-licon-list > li:hover a,
.dropdown-custom .dropdown-menu > li .post-licon-list > li:hover span,
.dropdown-custom .dropdown-menu > li .post-licon-list > li:hover .glyphicon{color:#fff;}

.dropdown-custom .dropdown-menu > li .li-divider{border-top:1px solid #ddd;width:100%;float:left;}

.dropdown-custom .dropdown-menu > li .post-sicon-list{padding:0;float:left;width:100%;}
.dropdown-custom .dropdown-menu > li .post-sicon-list > li{display:inline-block;width:100%;float:left;}
.dropdown-custom .dropdown-menu > li .post-sicon-list > li a{color:#444;position:relative;padding:0 20px;line-height:40px;display:inline-block;width:100%;}
.dropdown-custom .dropdown-menu > li .post-sicon-list > li .glyphicon{position:absolute;left:16px;top:0;line-height:20px;color:#777;}

.dropdown-custom .dropdown-menu.large-menuicons{padding: 10px 0;}
.dropdown-custom .dropdown-menu.large-menuicons > li{padding:0 15px;height:auto;margin:5px 0;}
.dropdown-custom .dropdown-menu.large-menuicons > li a{padding:0;white-space:initial;line-height:24px;font-size:13px;}
.dropdown-custom .dropdown-menu.large-menuicons > li a:hover{background:none !important;}
.dropdown-custom .dropdown-menu.large-menuicons > li a img{width:auto;}
.dropdown-custom .dropdown-menu.large-menuicons > li a span.icon{margin:0;}

.dropdown-menu .dmenu-title{font-family: "robotomedium";font-size: 12px;line-height: 18px;padding: 10px 15px 0;}

.dropdown-friendlock .dropdown-menu{min-width:200px;}
.dropdown-friendlock .dropdown-menu a.dropdown-toggle .glyphicon{font-size:10px;}
.dropdown-friendlock .divider{margin:6px 0 0;}
.dropdown-friendlock .dropdown-toggle .glyphicon{font-size:11px;color:#9f9f9f;}
.dropdown-friendlock .dropdown-toggle .caret{display:none;}

.dropdown-med .dropdown-menu{width:285px;}
.dropdown-small .dropdown-menu{width:200px;}
.dropdown-xsmall .dropdown-menu{width:150px;min-width:auto;}
.dropdown-xxsmall .dropdown-menu{width:100px;min-width:auto;}
.dropdown-auto .dropdown-menu{width:auto;min-width:auto;}

.dropdown.dropdown-custom .dropdown-toggle.btn-primary{margin:0;position: relative;z-index: 2;}
.dropdown.dropdown-custom.grayed-out .dropdown-toggle.btn-primary{background:#ddd;color:#888 !important;}
.dropdown.dropdown-custom.grayed-out .dropdown-toggle.btn-primary:hover{background:#131313;color:#fff !important;}
.dropdown.dropdown-custom.grayed-out .dropdown-menu li:first-child,
.dropdown.dropdown-custom.grayed-out .dropdown-menu li:last-child{display:none;}

.dropdown.dropdown-custom.open .dropdown-menu{left:auto;right:0;}
.dropdown.dropdown-custom.leftDrop.open .dropdown-menu{left:0;right:auto;}
.dropdown.req-btn.open .dropdown-menu{top:12px;}

.custom-drop{display:inline-block;}
.custom-drop a.dropdown-toggle{border: 1px solid #ddd;border-radius: 2px;display: inline-block;height: 25px;line-height: 22px;padding: 0 8px;width: 100px;color:#666;text-align:left;}
.custom-drop a.dropdown-toggle .glyphicon{margin-right:10px;top:1px;font-size:12px;}

.custom-drop.auto-drop .dropdown-toggle{width:auto;}
.custom-drop .caret{margin-left: 8px;margin-top: 11px;vertical-align: top;float:right;}

.custom-drop a.dropdown-toggle.no-border{border:none;}

.dropdown-menu > li.active a{color:#fff !important;}
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:focus, 
.dropdown-menu > .active > a:hover{background-color: #131313;}

.dropdown.context-dropdown .dropdown-menu{padding:5px 0;}
.dropdown.context-dropdown a.dropdown-toggle{color:#fff;opacity:0.5;}
.dropdown.context-dropdown a.dropdown-toggle:hover{opacity:1;}
.dropdown.context-dropdown .dropdown-menu > li{border:none;}
.dropdown.context-dropdown .dropdown-menu > li a{padding:0 10px;font-size:12px;font-family:'roboto-light';}
.dropdown.context-dropdown .dropdown-menu > li a,
.dropdown.context-dropdown .dropdown-menu > li a .glyphicon{line-height:26px;margin-right:10px;}
.dropdown.context-dropdown.open .dropdown-menu{right:auto;left:-8px;}
.dropdown.context-dropdown .dropdown-menu::after{right:auto;left:15px;}

/* custom radio buttons */

.radio-holder label{color: #a9a9a9;font-size: 13px;line-height: 28px;margin: 0;}

/* custom textarea */

textarea.materialize-textarea{width:100%;height: 24.2222px;color:#666;}
textarea.materialize-textarea::-webkit-input-placeholder{color:#888;}
textarea.materialize-textarea::-moz-placeholder{color:#888;opacity:1;}
textarea.materialize-textarea::-ms-placeholder{color:#888;}

textarea.materialize-textarea:focus::-webkit-input-placeholder,
textarea.materialize-textarea:focus:-moz-placeholder,
textarea.materialize-textarea:focus::-moz-placeholder,
textarea.materialize-textarea:focus:-ms-input-placeholder{opacity:0;}

/* CUSTOM RADIO BUTTON */

.control{display: block;position: relative;padding-left: 30px;margin-bottom: 15px;cursor: pointer;font-size: 18px;}
.control input{position: absolute;z-index: -1;opacity: 0;}
.control__indicator{position: absolute;top: 6px;left: 0;height: 16px;width: 16px;background: #fff;border:1px solid #ccc;}
.control--radio .control__indicator{border-radius: 50%;}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator{border:1px solid #999;}
.control input:checked ~ .control__indicator{background: #fff;border:1px solid #ccc;}
.control input:checked ~ .control__indicator::after{display:block;}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator{background: #fff;}
.control input:disabled ~ .control__indicator{background: #e6e6e6;opacity: 0.6;pointer-events: none;}
.control__indicator:after{content: '';position: absolute;display: none;}
.control input:checked ~ .control__indicator:after{display: block;}
.control--checkbox .control__indicator:after{left: 8px;top: 4px;width: 3px;height: 8px;border: solid #fff;border-width: 0 2px 2px 0;transform: rotate(45deg);}
.control--checkbox input:disabled ~ .control__indicator:after{border-color: #7b7b7b;}
.control--radio .control__indicator:after{left: 3px;top: 3px;height: 8px;width: 8px;border-radius: 50%;}
.control--radio input:disabled ~ .control__indicator:after{background: #7b7b7b;}

/* END CUSTOM RADIO BUTTON */

/* custom buttons */

.btn,
.btn:hover,
.btn:focus,
.btn:active{outline:none !important;box-shadow:none;border:none;}

.btn{height: auto;}
.btn:hover,
.btn:focus,
.btn:active{background:#444;}
.btn .glyphicon{margin-right:10px;font-size:12px;}
.btn.disabled{background:#ddd;color:#666;}
.btn-border{border:1px solid #fff;font-size:13px;color:#fff !important;padding: 0 10px;line-height: 22px;height: auto;}
.btn-border:focus,
.btn-border.active,
.btn-border:hover{background:#fff;color:#131313 !important;box-shadow:none;border:1px solid #fff;}
.btn-primary{color:#fff !important;}
.btn-xl{font-size:16px; padding: 5px 20px;height:auto;border-radius:5px;}
.btn-lg{font-size:13px; padding: 5px 20px;height:auto;}
.btn-md{font-size:12px;}
.btn-sm{font-size: 11px;height: auto;line-height: 18px;margin: 0;padding: 3px 12px;}
.btn-xxs{font-size: 11px;padding:0 10px;height:18px;line-height:18px;}
.btn-primary:hover{background:#333;}

.btn-gray{background:#f5f5f5 !important;border:1px solid #ebebeb;color:#939393 !important;line-height:22px;border-radius:2px;font-size:13px;padding-top:0;padding-bottom:0;}
.btn-gray:active,
.btn-gray:hover{background:#131313;border:1px solid #131313;color:#fff !important;}

.btn-white{background:#fff;}
.btn-white:hover{background:#333;color:#fff !important;}

span.btn-gray{cursor:not-allowed;}
span.btn-gray:hover{color:#939393 !important}

.load-btn{padding:10px 0;min-width:50%;font-size:14px;height:auto;font-family:'roboto-light';text-transform:uppercase;display:inline-block;}
.load-btn i{display:block;}

.cborder-btn{padding:3px 15px;font-size:13px;background:#fff;}
.cborder-btn:hover{color:#131313 !important;border:1px solid #131313 !important;}

.green-styled-btn{background:#64c121 !important;padding:5px 20px;height:auto;border:none !important;border-bottom:2px solid #fff !important;box-shadow:0 2px 0 0 #64c121;border-radius:3px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin-bottom: 2px;color:#fff !important;}
.green-styled-btn:focus,
.green-styled-btn:active,
.green-styled-btn:hover{border:none !important;border-bottom:2px solid #fff !important;background:#131313 !important;box-shadow:0 2px 0 0 #131313;color:#fff !important;}

/* text input animation */

.sliding-middle-out{display: inline-block;position: relative;padding-bottom: 3px;}
.sliding-middle-out:after{content: '';display: block;margin: auto;height: 1px;width: 0px;transition:width .5s ease, background-color .5s ease;}
.sliding-middle-out.focused:after{width: 100% !important;}

.sliding-middle-out.underlined:after{bottom: 3px;content: "";display: inline-block;height: 1px;left: 0;margin: auto;position: absolute;right: 0;transition: width 0.5s ease 0s, background-color 0.5s ease 0s;width: 0;}
.sliding-middle-out.underlined.focused:after{width:auto;left:0;right:0;}
.sliding-middle-out.underlined > input{border:none;}
.sliding-middle-out.underlined > input,
.sliding-middle-out.underlined > textarea{border-bottom: 1px solid #ddd;}
.sliding-middle-out.underlined > input.mobileviewinput::placeholder, .likes-summery .invite-likes .tholder .underlined input::placeholder, .advertmanager-page .detail-box .frow .adddate input[type="text"]::placeholder{color: #888;}

.sliding-middle-out.dateinput:after{bottom: 3px;content: "";display: inline-block;height: 1px;left: 0;margin: auto;position: absolute;right: 0;transition: width 0.5s ease 0s, background-color 0.5s ease 0s;width: 0;}
.sliding-middle-out.dateinput.focused:after{width:auto;left:0;right:0;}
.sliding-middle-out.dateinput > input{border:none;padding-left:20px;background:none;border-bottom: 1px solid #ddd;height:26px;font-size:13px;}
.sliding-middle-out.dateinput::before{color: #393939;content: "\f073";font-family: "FontAwesome";height: 20px;left: 0;position: absolute;top: 4px;width: 20px;}

.sliding-middle-out.timeinput:after{bottom: 3px;content: "";display: inline-block;height: 1px;left: 0;margin: auto;position: absolute;right: 0;transition: width 0.5s ease 0s, background-color 0.5s ease 0s;width: 0;}
.sliding-middle-out.timeinput.focused:after{width:auto;left:0;right:0;}
.sliding-middle-out.timeinput > input{border:none;padding-left:20px;background:none;border-bottom: 1px solid #ddd;height:26px;font-size:13px;width:100%;}
.sliding-middle-out.timeinput::before{color: #393939;content: "\f017";font-family: "FontAwesome";height: 20px;left: 0;position: absolute;top: 2px;width: 20px;}

.sliding-middle-out.location:after{bottom: 3px;content: "";display: inline-block;height: 1px;left: 0;margin: auto;position: absolute;right: 0;transition: width 0.5s ease 0s, background-color 0.5s ease 0s;width: 0;}
.sliding-middle-out.location.focused:after{width:auto;left:0;right:0;}
.sliding-middle-out.location > input{border:none;padding-left:20px;background:none;border-bottom: 1px solid #ddd;height:26p;font-size:13px;}
.sliding-middle-out.location::before{color: #393939;content: "\f041";font-family: "FontAwesome";height: 20px;left: 0;position: absolute;top: 2px;width: 20px;}

.sliding-middle-out.room:after{bottom: 3px;content: "";display: inline-block;height: 1px;left: 0;margin: auto;position: absolute;right: 0;transition: width 0.5s ease 0s, background-color 0.5s ease 0s;width: 0;}
.sliding-middle-out.room.focused:after{width:auto;left:0;right:0;}
.sliding-middle-out.room > input{border:none;padding-left:20px;background:none;border-bottom: 1px solid #ddd;height:26px;	font-size:13px;}
.sliding-middle-out.room::before{color: #393939;content: "\f236";font-family: "FontAwesome";height: 20px;left: 0;position:absolute;top: 5px;width: 20px;}

.sliding-middle-out.budgetinput:after{bottom: 3px;content: "";display:inline-block;height: 1px;left: 0;margin: auto;position: absolute;right: 0;transition: width 0.5s ease 0s, background-color 0.5s ease 0s;width: 0;}
.sliding-middle-out.budgetinput.focused:after{width:auto;left:0;right:0;}
.sliding-middle-out.budgetinput > input{border:none;padding-left:15px;background:none;border-bottom: 1px solid #ddd;height26p;font-size:13px;}
.sliding-middle-out.budgetinput::before{color: #393939;content: "\f155";font-family: "FontAwesome";height: 20px;left: 0;position: absolute;top: 2px;width: 20px;}

.sliding-middle-out.search::before {content: "\f002";font-family: 'FontAwesome';position: absolute;z-index: 10;left: 2px;top: 3px;color: #ddd;font-size: 13px;}
.sliding-middle-out.search input[type='text']{padding-left:30px;}

.sliding-middle-out.underlined.fullwidth textarea{float:left;text-align:left;}
.sliding-middle-out.anim-area.underlined.pull-left{width:90%;}

.sliding-middle-out.underlined.tt-holder.th50 textarea{min-height:50px;}
.sliding-middle-out.underlined.tt-holder.th70 textarea{min-height:70px;}

.locinput input[type='text']{padding-left:20px !important;font-size:13px;}
.sliding-middle-out .form-group{margin:0;}
.sliding-middle-out.locinput:before{content: "\f041";color: #434343;font-family: "FontAwesome";height: 20px;left: 0;position: absolute;top: 3px;width: 20px;}

/* end text input animation */

/* inputs/textarea placeholders */

textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder{color:#888;}

textarea::-moz-placeholder,
input::-moz-placeholder{color:#888;opacity: 1;}

textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder{color:transparent !important;}

/* checkbox styling */
/* Base for label styling */

.h-checkbox{position: relative;width: 100%;}
.h-checkbox [type='checkbox']{cursor:pointer;}
.h-checkbox [type="checkbox"]:not(:checked),
.h-checkbox [type="checkbox"]:checked{position: absolute;left: 0;opacity: 0;right: 0;width: 100%;z-index: 2;height:20px;}
.h-checkbox [type="checkbox"]:not(:checked) + label,
.h-checkbox [type="checkbox"]:checked + label{position: relative;padding-left: 25px;margin:0;}

/* checkbox aspect */
.h-checkbox [type="checkbox"]:not(:checked) + label:before,
.h-checkbox [type="checkbox"]:checked + label:before{content: '';position: absolute;left:0; top: 2px;width:18px; height: 18px;background:#666;border-radius: 3px;}
.home-content .h-checkbox [type="checkbox"]:not(:checked) + label:before,
.home-content .h-checkbox [type="checkbox"]:checked + label:before{content: '';position: absolute;left:0; top: 2px;width:18p; height: 18px;background: #fff;border-radius: 3px;}
/* checked mark aspect */
.h-checkbox [type="checkbox"]:not(:checked) + label:after,
.h-checkbox [type="checkbox"]:checked + label:after{content: "\f00c";font-family: "FontAwesome";position: absolute;top: 1px;left: 3px;font-size: 12px;line-height: 18px;color: #fff;transition: all .2s;}
.home-content .h-checkbox [type="checkbox"]:not(:checked) + label:after,
.home-content .h-checkbox [type="checkbox"]:checked + label:after{content: "\f00c";position: absolute;top: 2px; left: 2px;font-size: 16px;line-height: 18px;color: #09ad7e;transition: all .2s;}
.home-content .search-box .home-search input.map_visible{border-bottom: 1px solid #fff; height: 3rem; color: #fff !important;}
/* checked mark aspect changes */
.h-checkbox [type="checkbox"]:not(:checked) + label:after{opacity: 0;transform: scale(0);}
.h-checkbox [type="checkbox"]:checked + label:after{opacity: 1;transform: scale(1);}
/* disabled checkbox */
.h-checkbox [type="checkbox"]:disabled:not(:checked) + label:before,
.h-checkbox [type="checkbox"]:disabled:checked + label:before{box-shadow: none;border-color: #bbb;background-color: #ddd;}
.h-checkbox [type="checkbox"]:disabled:checked + label:after{color: #999;}
.h-checkbox [type="checkbox"]:disabled + label{color: #aaa;}
/* accessibility */
.h-checkbox [type="checkbox"]:checked:focus + label:before,
.h-checkbox [type="checkbox"]:not(:checked):focus + label:before{border:none;}

/* hover style just for information */
.home-page label:hover:before{border: none;}

.h-checkbox.entertosend{float: left;margin-right: 15px;width: auto;}
.h-checkbox.entertosend label{color:#cacaca;font-size:13px;margin:0;}
.h-checkbox.entertosend input[type='checkbox']{margin:0;}
.h-checkbox.entertosend [type="checkbox"]:not(:checked) + label, 
.h-checkbox.entertosend [type="checkbox"]:checked + label{padding-left:0;padding-right:25px;}

.h-checkbox.entertosend [type="checkbox"]:not(:checked) + label::before, 
.h-checkbox.entertosend [type="checkbox"]:checked + label::before{border-radius:0;background:#fff;border:1px solid #ddd;left:auto;right:0;width:16px;height:16px;}

.h-checkbox.entertosend [type="checkbox"]:not(:checked) + label::after, 
.h-checkbox.entertosend [type="checkbox"]:checked + label::after{color: #999;content: "\f00c";font-family: "FontAwesome";font-size: 10px;left: auto;line-height: 18px;position: absolute;right: 3px;top: 0;transition: all 0.2s ease 0s;}
.h-checkbox.entertosend [type="checkbox"]:checked + label:before{background:#fff !important;border-color:#ddd !important;}

.h-checkbox.entertosend.leftbox{margin-right:0;}
.h-checkbox.entertosend.leftbox label{color: #949494;}
.h-checkbox.entertosend.leftbox [type="checkbox"]:not(:checked) + label, 
.h-checkbox.entertosend.leftbox [type="checkbox"]:checked + label{padding-left:25px;padding-right:0;}
.h-checkbox.entertosend.leftbox [type="checkbox"]:not(:checked) + label::before, 
.h-checkbox.entertosend.leftbox [type="checkbox"]:checked + label::before{left:0;right:auto;}
.h-checkbox.entertosend.leftbox [type="checkbox"]:not(:checked) + label::after, 
.h-checkbox.entertosend.leftbox [type="checkbox"]:checked + label::after{right:auto;left: 3px;transition:none;}

.h-checkbox.colored{float: left;margin-right: 15px;width: auto;}
.h-checkbox.colored label{color:#cacaca;font-size:13px;margin:0;}
.h-checkbox.colored input[type='checkbox']{margin:0;}
.h-checkbox.colored [type="checkbox"]:not(:checked) + label, 
.h-checkbox.colored [type="checkbox"]:checked + label{padding-left:0;padding-right:25px;}

.h-checkbox.colored [type="checkbox"]:not(:checked) + label::before,
.h-checkbox.colored [type="checkbox"]:checked + label::before{border-radius:0;left:auto;right:0;width:16px;height:16px;}

.h-checkbox.colored [type="checkbox"]:not(:checked) + label::after, 
.h-checkbox.colored [type="checkbox"]:checked + label::after{color: #fff;content: "\f00c";font-family: "FontAwesome";font-size: 12px;left: auto;line-height: 18px;position: absolute;right: 3px;top: 0;transition: all 0.2s ease 0s;}

.h-checkbox.colored.leftbox{margin-right:0;}
.h-checkbox.colored.leftbox label{color: #949494;}
.h-checkbox.colored.leftbox [type="checkbox"]:not(:checked) + label, 
.h-checkbox.colored.leftbox [type="checkbox"]:checked + label{padding-left:25px;padding-right:0;}
.h-checkbox.colored.leftbox [type="checkbox"]:not(:checked) + label::before, 
.h-checkbox.colored.leftbox [type="checkbox"]:checked + label::before{left:0;right:auto;}
.h-checkbox.colored.leftbox [type="checkbox"]:not(:checked) + label::after, 
.h-checkbox.colored.leftbox [type="checkbox"]:checked + label::after{right:auto;left: 3px;transition:none;}

.h-checkbox.msg-checkbox [type="checkbox"]:not(:checked) + label::before,
.h-checkbox.msg-checkbox [type="checkbox"]:checked + label::before{left:0;}
.h-checkbox.msg-checkbox [type="checkbox"]:not(:checked) + label::after,
.h-checkbox.msg-checkbox [type="checkbox"]:checked + label::after{right:auto;top:-2px;}

/* end checkbox styling */

.colorsBox a{display:inline-block;margin-right:10px;border-radius:3px;width:42px;height:42px;border:2px solid #fff;border-radius:50%;}
.colorsBox a.active{-webkit-box-shadow: 0 0px 3px 0 #999999;-moz-box-shadow: 0 0px 3px 0 #999999;box-shadow: 0 0px 3px 0 #999999;}
.colorsBox .boxrow{float:left;clear:both;}

ul.large-menuicons > li{height:80px;padding:0;width:50%;text-align:center;margin:0 0 20px;border:none;float:left;}
ul.large-menuicons > li:hover{background:none;}
ul.large-menuicons > li a{text-align:center;width:70px;display:inline-block !important;}
ul.large-menuicons > li a:hover{color:#313131 !important;}
ul.large-menuicons > li a span{clear:both;color:#fff;display:block;margin:0 0 10px;font-size:16px;font-family:'robotomedium';opacity:1;position:relative;}
ul.large-menuicons > li a span.icon{width:50px;height:50px;display:inline-block;float:none;margin: 0 0 10px;}
ul.large-menuicons > li a span.lodge-icon{background:url(../images/lodge-icon-bg.png) center center no-repeat;background-size:100%;}
ul.large-menuicons > li a span.flight-icon{background:url(../images/flight-icon-bg.png) center center no-repeat;background-size:100%;}
ul.large-menuicons > li a span.tour-icon{background:url(../images/tour-icon-bg.png) center center no-repeat;background-size:100%;}
ul.large-menuicons > li a span.place-icon{background:url(../images/place-icon-bg.png) center center no-repeat;background-size:100%;}
ul.large-menuicons > li a span.addtrip-icon{background:url(../images/addtrip-icon-bg.png) center center no-repeat;background-size:100%;}
ul.large-menuicons > li a span.logout-icon{background:url(../images/out-icon-bg.png) center center no-repeat;background-size:100%;}
ul.large-menuicons > li a span.advert-icon{background:url(../images/advert-icon-bg.png) center center no-repeat;background-size:100%;}
ul.large-menuicons > li a span.default-icon{background:url(../images/default-icon-bg.png) center center no-repeat;background-size:100%;}
ul.large-menuicons > li a:focus span.icon,
ul.large-menuicons > li a:hover span.icon{background:url(../images/selected-icon-bg.png) center center no-repeat;background-size:100%;}

.zmdi {font-weight: normal;font-style: normal;line-height: 1;letter-spacing: normal;text-transform: none;display: inline-block;white-space: nowrap;word-wrap: normal;direction: ltr;-webkit-font-feature-settings: 'liga';-webkit-font-smoothing: antialiased;}
.zmdi.trun180{transform:scaleX(-1);}
.zmdi.trun90{-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-o-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}

.btn-custom {padding: 0 8px; line-height: 36px; border-radius: 2px; border: none; height: 36px; display: inline-block; margin-left: 8px;text-transform: uppercase; cursor: pointer;}
.btn-custom:focus, .btn-custom:active{background:rgba(236, 236, 236, 0.6);color:#333;}
.wallpage .btn-custom:focus, .about-content .btn-custom:active, .btngen-center-align:focus, .btngen-center-align:active{background:transparent;}
.waves-effect .waves-ripple{background: rgba(0,0,0,0.08);-webkit-transition: .5s ease-out !important;transition: .5s ease-out !important;}
.modal .waves-effect .waves-ripple, .dropdown-content .waves-effect .waves-ripple, .post-actions .waves-effect .waves-ripple, .wallpage .btn-custom.waves-effect .waves-ripple, 
.waves-theme.waves-effect .waves-ripple, .cross.waves-effect .waves-ripple, .btngen-center-align.waves-effect .waves-ripple, .btn-invite.waves-effect .waves-ripple, .btn-invite-close.waves-effect .waves-ripple,
.modal.add-item-popup .modal-footer a.waves-effect .waves-ripple, .close_span.waves-effect .waves-ripple, .done_btn.waves-effect .waves-ripple{background: rgba(38, 132, 253, 0.15);}
.credit-payment-modal .waves-effect .waves-ripple{background: rgba(0,0,0, 0.1);}

.mdi-13px {font-size: 13px !important;}
.mdi-14px {font-size: 14px !important;}
.mdi-15px {font-size: 15px !important;}
.mdi-16px {font-size: 16px !important;}
.mdi-17px {font-size: 17px !important;}
.mdi-18px {font-size: 18px !important;}
.mdi-19px {font-size: 19px !important;}
.mdi-20px {font-size: 20px !important;}
.mdi-21px {font-size: 21px !important;}
.mdi-22px {font-size: 22px !important;}
.mdi-23px {font-size: 23px !important;}
.mdi-24px {font-size: 24px !important;}
.mdi-25px {font-size: 25px !important;}
.mdi-26px {font-size: 26px !important;}
.mdi-27px {font-size: 27px !important;}
.mdi-28px {font-size: 28px !important;}
.mdi-29px {font-size: 29px !important;}
.mdi-30px {font-size: 30px !important;}
.mdi-31px {font-size: 31px !important;}
.mdi-32px {font-size: 32px !important;}
.mdi-33px {font-size: 33px !important;}
.mdi-34px {font-size: 34px !important;}
.mdi-35px {font-size: 35px !important;}
.mdi-36px {font-size: 36px !important;}
.mdi-37px {font-size: 37px !important;}
.mdi-38px {font-size: 38px !important;}
.mdi-39px {font-size: 39px !important;}
.mdi-40px {font-size: 40px !important;}
  
